<div *ngIf="images" >
    <!-- Thumbnail for artwork. -->
    <div class="row">
        <div *ngFor="let img of images" class="col-sm-6 col-lg-4 thumbnail">
            <button id="{{img.id}}-thumbnail" data-bs-toggle="modal" 
            attr.data-bs-target="#{{img.id}}" 
            role="img" attr.aria-controls="{{img.imgSrc}}" aria-selected="true">
                <img src="{{img.thumbnailSrc}}">
            </button>
        </div>
    </div>

    <!-- Modal that shows artwork. -->
    <div *ngFor="let img of images" class="modal fade" id="{{img.id}}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="center" src="{{img.imgSrc}}">
                    <div class="description center">
                        <p>{{img.description}}</p>
                        <p>{{img.medium}}</p>
                        <p>{{img.date.year}}/{{img.date.month}}/{{img.date.day}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>