@import '../../../sass/variables';

.thumbnail {
    padding-bottom: 1em;

    button {
        background-color: $color-dark-accent;
        border: none;
        outline: none;

        :hover {
            background-color: $color-light-accent;
        }
    }

    img {
        width: 100%;
        padding: 5%;
    }
}

.modal-content {
    background-color: $color-light;
    color: $color-dark-accent;
    margin: 0 auto;

    .description {
        width: 80%;
        padding-top: 1em;
        text-align: right;
        font-style: italic;
    }
    
    img {
        width: 80%;
    }

    .btn-close {
        background-color: $color-dark-accent
    }
}