<div *ngIf="blogData" class="scrollable-page">
    <h1>Blog Posts</h1>
    
    <div *ngIf="blogData.length > 0">
        <ul>
            <li *ngFor="let data of blogData">
                <a routerLink="{{getPostPath(data)}}">
                    {{data.title}} ({{data.date.year}}/{{data.date.month}}/{{data.date.day}})
                </a>
            </li>
        </ul>
    </div>

    <div *ngIf="blogData.length === 0">
        <p><em>No blog posts yet!</em></p>
    </div>
</div>