@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.scrollable-page {
    width: 75%;
    margin: 0 auto;
    margin-top: 100px;
}

/* Change text size based on size of screen.
 * These values are larger than the default in styles.scss.
 */
@include media-breakpoint-up(lg) {
    .scrollable-page {
        font-size: x-large;
    }
}
@include media-breakpoint-up(xl) {
    .scrollable-page {
        font-size: xx-large;
    }
}