<div *ngIf="mainData" class="card mid-dark-bg">

    <h1 class="card-header">{{mainData.title}}</h1>

    <div class="row">
        <!-- Image placed on the left, or on top on smaller screens -->
        <div class="col-md-6 align-self-center image">
            <a *ngIf="mainData.image_link" href="{{mainData.image_link}}" target="_blank">
                <img src="{{mainData.image}}" class="card-img-left img-fluid" alt="Image for {{mainData.title}}">
            </a>
            <img *ngIf="!mainData.image_link" src="{{mainData.image}}" class="card-img-left img-fluid" alt="Image for {{mainData.title}}">
        </div>

        <!-- Text placed on the right, or on bottom on smaller screens -->
        <div class="col-md-6 align-self-center card-body card-text">
            <ng-content></ng-content>
        </div>
    </div>
    
</div>