@import '../../../sass/variables';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.card {
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-top: 75px;

    .card-header {
        background-color: $color-dark-accent;
        color: $color-light-accent;
    }
    
    img {
        width: 85%;
        margin: 2.5% 0;
    }
}

/* Change text margin based on size of screen.
 * When the screen is large enough to display only one row,
 * change left margin to be farther to the left.
 */
@include media-breakpoint-down(md) {
    .card-text {
        margin: 5%;
    }
}
@include media-breakpoint-up(md) {
    .card-text {
        margin: 5%;
        margin-left: -5%;        
    }
}