/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu&display=swap');

/* Original color scheme
 * https://www.schemecolor.com/everything-crumbling.php
 */
/*$color-light: #D7DFE0;
$color-light-accent: #B5CACB;
$color-dark: #353A5D;
$color-dark-accent: #4B6479;
$color-mid-dark: #838495;
$color-mid-light: #D3BAB3; */

/* Tentative LNY-themed scheme
 * https://www.schemecolor.com/lunar-new-year.php
 */
/*$color-light: #1d0307;
$color-light-accent: #570612;
$color-dark: #EFE2AD;
$color-dark-accent: #b60a0c;
$color-mid-dark: #b79b55;
$color-mid-light: #9c5e0d;*/

/* Mysterious scheme */
$color-light: #071212;
$color-light-accent: #13312D;
$color-dark: #A6D0AC;
$color-dark-accent: #367B6B;
$color-mid-dark: #84B19D;
$color-mid-light: #2D4A42;

$font-main: 'Ubuntu', sans-serif;
$font-header: 'Share Tech Mono', monospace;