@import './variables';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

body {
    margin: 0;
    padding: 0;
    background-color: $color-light;
    color: $color-dark;
    font-family: $font-main;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-header;
    }

    a {
        color: $color-dark;
    }
    a:hover {
        color: $color-mid-light;
    }

    code {
        color: $color-dark-accent;
    }
}

.mid-dark-bg {
    background-color: $color-mid-dark;
    color: $color-light;
    a {
        color: $color-mid-light;
    }
    a:hover {
        color: $color-dark;
    }
}

// Fixed top navbar
nav {
    background-color: $color-dark-accent;
    color: $color-light-accent;
    a {
        margin-left: 1em;
        color: $color-light;
    }
}

// Separate blockquote from regular text
blockquote {
    padding-left: 1%;
    margin: 2em 0;
    border-left: 1em solid $color-light-accent;
    font-style: italic;
}

// Center align
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Styles for pages that may require a scrollbar
 * i.e.: every page except for the home page.*/
.scrollable-page {
    margin-top: 150px;
    margin-bottom: 50px;
}

// Styling for a "more details"-esque page
.details {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 150px;
}

/* Various button stylings */

// General navigation button
button.navButton {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    background-color: $color-light-accent;
    a {
        color: $color-dark-accent;
        text-decoration: none;
    }
}
button:hover.navButton {
    background-color: $color-dark-accent;

    a { 
        color: $color-light-accent;
    }
}

// Navigation button that links to a "more details"-esque page
button.detailButton {
    margin-top: 10px;
}

// Navigation button at the end of the page
button.endButton {
    margin: 50px auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: larger;
}

// Change text size based on size of screen.
@include media-breakpoint-down(sm) {
    body {
        font-size: small;
    }
}
@include media-breakpoint-up(lg) {
    body {
        font-size: larger;
    }
}
@include media-breakpoint-up(xl) {
    body {
        font-size: x-large;
    }
}

// For when JavaScript is disabled.
noscript {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}