<div class="scrollable-page">
    <app-info-card [mainData]="mainData">
        <app-markdown-preview *ngIf="mainData" [filename]="mainData.contents"></app-markdown-preview>
    </app-info-card>
</div>