<div *ngIf="projectDetails" class="scrollable-page details">
    <h1>{{projectDetails.title}}</h1>
    
    <h2>Project Background</h2>
    <app-markdown-preview [filename]="projectDetails.backgroundFile"></app-markdown-preview>

    <h2>Technology Used</h2>
    <app-markdown-preview [filename]="projectDetails.technologyFile"></app-markdown-preview>

    <div *ngIf="projectDetails.links.length != 0">
        <h2>Links</h2>
        <ul>
            <li *ngFor="let link of projectDetails.links">
                <a href="{{link.link}}" target="_blank">{{link.name}}</a>
            </li>
        </ul>
    </div>

    <div *ngIf="projectDetails.images.length != 0">
        <h2>Additional Images</h2>
        <img *ngFor="let img of projectDetails.images" src="{{img}}" class="img-fluid">
    </div>
    
    <button class="navButton endButton">
        <a routerLink="/projects">Return</a>
    </button>
</div>