<div *ngIf="navData && selectedNav" class="nav-box ">
    <!-- Top tabs used as navigation. -->
    <ul class="nav nav-tabs nav-fill" id="navTab" role="tablist">
        <li *ngFor="let tab of navData" class="nav-item" role="presentation">
            <button class="nav-link" [class.active]="tab === selectedNav" 
                    id="{{tab.title}}-tab" data-bs-toggle="tab" 
                    attr.data-bs-target="#{{tab.title}}" type="button" 
                    role="tab" attr.aria-controls="{{tab.title}}" aria-selected="true"
            >
                {{tab.title}}
            </button>
        </li>
    </ul>
    
    <!-- Contents displayed when relevant tab is active. -->
    <div class="tab-content mid-dark-bg" id="navTabContent">
        <div *ngFor="let tab of navData" class="tab-pane fade" 
             [class.show]="tab === selectedNav" [class.active]="tab === selectedNav" 
             id="{{tab.title}}" role="tabpanel" attr.aria-labelledby="{{tab.title}}-tab"
        >
            <app-markdown-preview [filename]="tab.markdownFile"></app-markdown-preview>
        </div>
    </div>
</div>