<div class="scrollable-page">
    <div  class="nav-box ">
        <!-- Top tabs used as navigation. -->
        <ul class="nav nav-tabs nav-fill" id="funTab" role="tablist">
            <li *ngFor="let tab of ['Art', 'Books', 'Games']" class="nav-item" role="presentation">
                <button class="nav-link" [class.active]="selectedNav === tab" 
                        id="{{tab}}-tab" data-bs-toggle="tab" 
                        attr.data-bs-target="#{{tab}}" type="button" 
                        role="tab" attr.aria-controls="{{tab}}" aria-selected="true"
                >
                    {{tab}}
                </button>
            </li>
        </ul>
        
        <!-- Contents displayed when relevant tab is active. -->
        <div class="tab-content mid-dark-bg" id="navTabContent">
            <div class="tab-pane fade" 
                 [class.show]="selectedNav === 'Art'" [class.active]="selectedNav === 'Art'" 
                 id="Art" role="tabpanel" attr.aria-labelledby="Art-tab"
            >
                <p>I've been creating art for as long as I can remember. I tend to enjoy drawing animals or surreal pieces. Along with what's showcased here, any art on this website is done by me.</p>
                <app-image-thumbnails [images]="imageData"></app-image-thumbnails>
            </div>

            <div class="tab-pane fade" 
                 [class.show]="selectedNav === 'Books'" [class.active]="selectedNav === 'Books'" 
                 id="Books" role="tabpanel" attr.aria-labelledby="Book-tab"
            >
                <p>I generally read fiction, and especially enjoy sci-fi, fantasy, and horror. Some of my current favorite books include:</p>
                <ul>
                    <li *ngFor="let book of bookData">
                        <em>{{book.title}}</em> - {{book.author}}
                    </li>
                </ul>
                <p>For info on what I'm currently reading and reviews of books I've previously read, check out my <a href="https://www.librarything.com/profile/brp6kk" target="_blank">LibraryThing profile</a>.</p>
            </div>

            <div class="tab-pane fade" 
                 [class.show]="selectedNav === 'Games'" [class.active]="selectedNav === 'Games'" 
                 id="Games" role="tabpanel" attr.aria-labelledby="Games-tab"
            >
                <p>My favorite video game franchise is Pokemon. I tend to prefer the older games, with SoulSilver and Emerald being my favorites. I also enjoy <a href="https://bulbapedia.bulbagarden.net/wiki/ROM_hacks" target="_blank">ROM hacks</a> and fanmade games.</p>
                <p>Animal Crossing is another favorite of mine, and I have been regularly playing New Horizons since it released.</p>
                <p>Other franchises I've played include:</p>
                <ul>
                    <li>The Legend of Zelda</li>
                    <li>Silent Hill</li>
                    <li>American McGee's Alice</li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Back button -->
    <button class="navButton endButton">
        <a routerLink="/about">Return</a>
    </button>
</div>