@import '../../../sass/variables';

.nav-box {
    margin: 0 auto;
    width: 75%;
    margin-top: 75px;
    border-radius: 5px;
    
    // Tabs at the top of the box.
    .nav-item {
        border-radius: 5px;
        border-style: solid;
        border-color: $color-light;
        border-width: 1px;
        border-bottom-width: 0;

        .nav-link {
            background-color: $color-dark-accent;
            color: $color-light-accent;
        }
        .active {
            background-color: $color-light-accent;
            color: $color-dark-accent;
        }
    }

    // Portion of the box containing content.
    #navTabContent {
        padding: 5% 2.5%;
        border-radius: 5px;
    }
}

.scrollable-page {
    margin-bottom: 150px;
}