<div class="scrollable-page">
    <app-info-card [mainData]="mainData">
        <app-markdown-preview *ngIf="mainData" [filename]="mainData.contents"></app-markdown-preview>
    </app-info-card>

    <app-nav-box [navData]="cvData"></app-nav-box>
    
    <p class="cvLink"><em>Interested in viewing my CV as a PDF? Click <a href="https://drive.google.com/file/d/1Ro_pGxY1TT2aZrGK2Dael5kLQjy88t1o/view?usp=sharing" target="_blank">here</a>!</em></p>
</div>