@import '../sass/variables';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

@include media-breakpoint-up(md) {
    .active {
        background-color: $color-mid-dark;
        border-radius: 5%;
    }
}