<nav class="navbar fixed-top navbar-expand-md navbar-dark ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" 
                data-bs-toggle="collapse" data-bs-target="#navbarMain" 
                aria-controls="navbarMain" aria-expand="false" 
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <!-- For each link, adding data-bs-toggle & data-bs-target
                 collapses the navbar on link click.
                 Specifying #navbarMain.show rather than just #navbarMain
                 prevents this collapsing when the full navbar is in view
                 (i.e., on larger screens)
              -->
            <div class="navbar-nav">
                <a routerLink="/" class="nav-link" [class.active]="activeNav === 'home'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    Home
                </a>
                <a routerLink="/about" class="nav-link" [class.active]="activeNav === 'about'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    About
                </a>
                <a routerLink="/projects" class="nav-link" [class.active]="activeNav === 'projects'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    Projects
                </a>
                <a routerLink="/blog" class="nav-link" [class.active]="activeNav === 'blog'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    Blog
                </a>
                
                <!--
                <a routerLink="/testimonials" class="nav-link" [class.active]="activeNav === 'testimonials'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    Testimonials
                </a>
                -->
                
                <a routerLink="/contact" class="nav-link" [class.active]="activeNav === 'contact'"
                   data-bs-toggle="collapse" data-bs-target="#navbarMain.show"
                >
                    Contact
                </a>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>