@import '../../../sass/variables';

p, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 80%;
}

.home {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    p {
        margin-top: 50px;
        width: 35ch; // Width specified to keep text in single line on smaller screens
    }

    .animated {
        box-shadow: .6em 0 0 $color-light-accent; // Carat style
        font-size: 250%;
        overflow: hidden; // Don't show text through carat
        white-space: nowrap; // Keep text on single line
        animation: carat .5s step-end infinite alternate, // Carat blinking animation
            type 5s steps(12, end) infinite alternate // Letters displaying animation
    }
}

// Animation definitions
@keyframes type {
    0% {
        width: 0;
    }
    // Small delay before start "typing"
    5% {
        width: 0;
    }
    // Keep full message on screen for half of animation time
    50% {
        width: 12ch;
    }
    100% {
        width: 12ch;
    }
}
@keyframes carat {
    // Carat "blinks"
    50% {
        box-shadow: .6em 0 0 transparent;
    }
}
/* Animation code adapted from:
 * https://codepen.io/equinusocio/pen/rbJwmM
 */