<div *ngIf="coursesData" class="scrollable-page details">
    <h1>Relevant {{coursesData.label}} Courses</h1>
    <ul>
        <li *ngFor="let course of coursesData.courses">
            <span *ngIf="course.code">{{course.code}} - </span>
            {{course.title}}
        </li>
    </ul>
    
    <button class="navButton endButton">
        <a routerLink="/about">Return</a>
    </button>
</div>