@import '../../../sass/variables';
@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/mixins/_breakpoints';

.scrollable-page {
    margin-bottom: 150px;
    text-align: center;

    .card {
        background-color: $color-dark;
        color: $color-dark-accent;
        margin: 0 auto;
        margin-top: 75px;
    
        .card-footer {
            text-align: right;
            font-style: italic;
        }
    }
}

// Change card size based on size of screen.
@include media-breakpoint-down(md) {
    .card {
        width: 90%;
    }
}
@include media-breakpoint-up(md) {
    .card {
        width: 60%;
    }
}