<div *ngIf="mainData" class="scrollable-page">
    <div *ngIf="mainData.length > 0">
        <div *ngFor="let data of mainData" class="card">
            <div class="align-self-center card-body">
                <div class="card-text">
                    <p>{{data.words}}</p>
                </div>
            </div>
            <p class="card-footer">{{data.name}}</p>
        </div>
    </div>
    
    <div *ngIf="mainData.length === 0">
        <p><em>No testimonials yet!</em></p>
    </div>
    

    <button class="navButton endButton">
        <a routerLink="/contact">Get in touch</a>
    </button>
</div>