<div *ngIf="projectData" class="scrollable-page">

    <div *ngIf="projectData.length > 0">
        <div *ngFor="let data of projectData">
            <app-info-card [mainData]="data">
                <p>{{data.contents}}</p>
                <button class="navButton detailButton">
                    <a routerLink="/projects/{{getProjectPath(data)}}">Learn More</a>
                </button>
            </app-info-card>
        </div>
    </div>
    
    <div *ngIf="projectData.length === 0">
        <p>No projects yet!</p>
    </div>
    
</div>