<div *ngIf="postDetails" class="scrollable-page details">
    <h1>{{postDetails.title}} ({{postDetails.date.year}}/{{postDetails.date.month}}/{{postDetails.date.day}})</h1>

    <app-markdown-preview [filename]="postDetails.markdownFile"></app-markdown-preview>
    
    <button class="navButton endButton">
        <a routerLink="/blog">Return</a>
    </button>
</div>